<h1>Eat the Burger</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <h1>Add a new burger!</h1>
                <form>
                    <div>
                        <input type="text" name="burgername" placeholder="Type the name of a burger here">
                        <div>
                            <button type="submit">Add your burger!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>