<h1>Eat the Burger</h1>

<div class="container">
    {{!-- Add a burger --}}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h2>Add a new burger!</h2>
                <form id="addburger">
                    <div>
                        <input type="text" id="burger_name" placeholder="Type the name of a burger here">
                        <div>
                            <button type="submit">Add your burger!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{!-- List of burgers to eat --}}
    <div class="row">
        <div class="col-lg-6">
            <h2>Burger to eat!</h2>

            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burger-list devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        {{!-- Devoured burgers --}}
        <div class="col-lg-6">
            <h2>Burgers you have devoured</h2>

            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burger-list devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>